[Unit]
Description=Power Monitor Daemon
After=local-fs.target

[Service]
User=root
Type=exec
ExecStart=/usr/bin/python3 /usr/local/bin/mpu-power-daemon.py

[Install]
WantedBy=multi-user.target

